@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Qb one", Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #01030b 50%, #13225e 85%);
}

.container {
  display: flex;
}

.frase {
  color: white;
  font-size: 30px;
  margin: 250px 30px 78px 50px;
  justify-content: center;
}
.logo {
  background-color: #2210e5;
  border-radius: 15px;
  margin-top: 50px;
  margin-right: 50px;
  align-items: center;
  width: 837px;
  height: 430px;
}
.img {
  align-items: center;
  padding: 30px 30px 30px 40px;
  width: 837px;
  height: 430px;
}
.img-1 {
  flex-direction: row;
  margin-top: 50px;
  gap: 2px;
  width: 410px;
  height: auto;
}

/*Section 2*/

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.tvt {
  color: white;
  text-align: center;
  margin: 200px 50px;
}

.categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.itens-c {
  background-color: #2210e5;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  cursor: default;
  transition: 0.3s;
  margin: 0 auto;
  width: 150px;
  height: 50vh;
}

.itens-c:hover {
  background-color: #3a2fff;
  transform: scale(1.05);
}

.cj {
  color: white;
  text-align: center;
  margin: 100px 50px;
}

.botão-login {
  display: flex;
  justify-content: center;
}

.botao {
  background-color: #2210e5;
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 12px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: 0.3s;
  margin: 200px;
}

/*SECTION 3*/

.rodapé {
    color: white;
    background-color: #01030b;
    text-align: center;
    height: 100px;
    padding: 40px;
}